/* FAQ SECTIONS STYLES========================================================================================*/

.faq {
    height: fit-content;
    padding: 100px;
}

.faq h1 {
    font-family: var(--secondary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: #00C2FF;
}

.faq-box {
    margin-top: 20px;
}

details {
    margin: 0 auto;
    margin-bottom: .5rem;
    border-radius: 5px;
    overflow: hidden;
    font-family: var(--primary-font-family);
    font-weight: 700;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    color: #00C2FF;
}

summary {
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #00C2FF;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open]>summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

details>ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.details-expanded {
    padding: 2rem;
}

.details-expanded p {
    font-family: var(--primary-font-family);
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 300;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}